.section_card {
    background-color: #A02279;
    margin: 0 -10rem;
    padding: 10rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
}

.section_card h2 {
    font-size: 4.5rem;
    margin-bottom: 2rem;
}

.section_card p {
    font-size: 1.8rem;
    margin-bottom: 5rem;
}

.section_card button {
    color: #A02279;
    background-color: #fff;
    padding: 1.2rem 2rem;
    border: none;
    border-radius: 0.9rem;
    cursor: pointer;
    transition: all 0.3s;
    /* position: fixed; */
}

.section_card button:hover {
color: #000;}

.card_frame {
    width: 55%;
}