.sectionFeature {
    background-color: #A02279;
    margin: 8rem -10rem 0 -10rem;
    padding: 0.5rem 5rem;
    display: flex;
    justify-content: space-around;
}

.feature {
    display: flex;
    font-family: 'AirbnbCereal_W_Bd';
    color: #fff;
    align-items: center;
    font-size: 3rem;
    font-weight: 600;
    gap: 0.5rem;
}