@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Red+Rose:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

@font-face {
  font-family: lato-Regular;
  src: url(./font/Lato-Regular.ttf);
}

@font-face {
  font-family: lato-Medium;
  src: url(./font/Lato-Medium.ttf);
}

body {
  padding: 0 10rem;
  font-family: "Red Rose", sans-serif;
  color: #434343;
  box-sizing: border-box;
  line-height: 1.6;
}

a {
  text-decoration: none;
  list-style: none;
}
